<footer>
  <hr />
  <div class="socialMedia">
    <a href="#" class="box">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="box">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="#" class="box">
      <i class="fa fa-facebook"></i>
    </a>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">About</a></li>
      <li class="breadcrumb-item"><a href="#">For Business</a></li>
      <li class="breadcrumb-item"><a href="#">Suggestions</a></li>
      <li class="breadcrumb-item"><a href="#">Help&FAQs</a></li>
      <li class="breadcrumb-item"><a href="#">Contacts</a></li>
      <li class="breadcrumb-item"><a href="#">Pricing</a></li>
    </ol>
  </nav>
  <p>© Copyright 2023 Dian Bayu Nugroho || Brebes</p>
  <nav aria-label="breadcrumb">
    <ol class="bottom breadcrumb">
      <li class="breadcrumb-item"><a href="#">Privacy</a></li>
      <li class="breadcrumb-item"><a href="#">Terms</a></li>
    </ol>
  </nav>
</footer>
