.contentAllCards {
  width: 40rem;

  position: relative;
  margin-bottom: 4em;
  border-radius: 2px;
}

.subject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 26.3em;
}

.feature a {
  font-size: 0.8em;
  text-decoration: none;
  color: #f4e3cf;
}

.feature a:hover {
  color: #aa9b8a00;
}

.title h1 {
  font-size: 1.5em;
  color: #f4e3cf;
}

.card1 {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.5s ease;
}

.card1:hover {
  transition-delay: 0.15s;
  transform: scale(1.5);
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
}

.uploadCard {
  background: transparent;
  border: 5px solid #f4e3cf;
}

.cards {
  display: grid;
  height: 65vh;
  gap: 0.7em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.bigCard {
  background-size: cover;
  grid-row: 1/3;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-between;
}

.bigCard:hover {
  box-shadow: 2px 2px orange;
  transition-delay: 0.15s;
}

.fileInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: none;
}

.fileTitle {
  font-size: 1rem;
  font-weight: 500;
  color: #f4e3cf;
  background: none;
}
.uploader {
  font-size: 0.8rem;
  color: #f4e3cf;
  background: none;
}

.view {
  font-size: 0.6rem;
  color: #f4e3cf;
  align-self: flex-end;
  position: relative;
  background: none;
}

.uploadButton {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: baseline;
  border: transparent;
}

.uploadLogo {
  background: transparent;
  margin-right: 0.5em;
  color: #f4e3cf;
}

.uploadButton p {
  margin-top: 1em;
  background: transparent;
  color: #f4e3cf;
  font-size: 0.8rem;
  max-width: 7em;
}

@media only screen and (max-width: 480px) {
  .contentAllCards {
    width: auto;
  }

  .subject {
    width: auto;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40em;
  }

  .uploadCard {
    display: none;
  }

  .bigCard {
    width: 15rem;
    height: 10rem;
  }

  .card1 {
    width: 15rem;
    height: 7rem;
  }
}

@media (min-width: 480px) and (max-width: 900px) {
  .contentAllCards {
    margin-bottom: -0.2em;
  }
}
