.contentPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.contents {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.card1 {
  margin: 1em 0;
}

.sidebar {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.bar1 {
  margin: 1em 0;
}

@media only screen and (max-width: 480px) {
  .contentPanel {
    display: flex;
    flex-direction: column;
    margin: -1em 0;
  }

  .contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card1 {
    width: 85%;
  }

  .box2 {
    width: 85%;
  }

  .sidebar {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 900px) {
  .contentPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    margin: 1em;
  }
}
