.sidebar {
  margin-bottom: 7em;
}
.subject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.feature a {
  font-size: 0.8em;
  text-decoration: none;
  color: #f4e3cf;
}

.btnClose {
  border: solid 2px rgb(202, 188, 188);
  margin: auto;
  height: 75px;
  position: absolute;
  margin-top: -10px;
  margin: -10px;
  width: 25%;
  display: none;
  border-radius: 3px;
}
.btnClose .xClose {
  float: right;
  margin-left: -12px;
}
.btnClose .xClose img {
  position: relative;
  margin: -3px;
  left: 5px;
}
.btnClose button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.addButton img {
  position: absolute;
  margin-top: -109px;
  margin-left: -56px;
  border-radius: 3px;
  display: none;
  cursor: pointer;
}
.addButton button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.feature a:hover {
  color: #aa9b8a00;
}

.title h1 {
  font-size: 1.5em;
  color: #f4e3cf;
}

.sidebar hr {
  margin-top: 0;
  border-bottom: 3px solid #f4e3cf;
}

.contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: -0.1em;
}

.content {
  display: flex;
  flex-direction: row;
  height: 16%;
}
.contents:hover .btnClose {
  display: block;
}

.material {
  background-size: cover;
  height: 3.5rem;
  width: 5rem;
  margin-right: 1em;
  border-radius: 3%;
}

.material:hover {
  filter: grayscale(100%);
  transition-delay: 0.15s;
}

.article {
  display: flex;
  flex-direction: column;
}

.mainActivity {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.Username {
  font-size: 1rem;
  max-height: 1.5em;
  margin-right: 0.3em;
  color: #f4e3cf;
}

.doingSomething {
  font-size: 0.65rem;
  color: #f4e3cf;
}

.Comment {
  margin-top: -1.5em;
  font-size: 0.7rem;
  color: #f4e3cf;
}

.timeline {
  margin-top: -0.9em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.timeLogo {
  font-size: 0.75rem;
  margin-right: 0.4em;
  margin-top: -1.3em;
  position: relative;
  align-self: center;
  color: #f4e3cf;
}

.timeline p {
  font-size: 0.7rem;
  color: #f4e3cf;
}

.sidebarBottom {
  margin-top: -1.4em;
}

.sidebarBottom hr {
  margin: 0;
  border-bottom: 3px solid #f4e3cf;
}

.contentsBottom {
  height: 95vh;
  margin-top: 1em;
  margin-bottom: 1em;
  display: grid;
  gap: 0.7em;
  row-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.contentBottom {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 3%;
}

.contentBottom:hover .addButton img {
  filter: grayscale(100%);
  transition-delay: 0.15s;
  display: block;
}

.contentBottom h3 {
  background: transparent;
  color: #f4e3cf;
  margin-left: 0.5em;
  font-size: 0.8rem;
}

@media only screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }

  .sidebarBottom {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 900px) {
  .sidebar {
    display: none;
    margin: 0;
  }

  .sidebarBottom {
    display: none;
  }
}
