<div class="sidebar">
  <div class="subject">
    <div class="title">
      <h1>Activity</h1>
    </div>
    <div class="feature">
      <a href="#"> View timeline / Filter activities </a>
    </div>
  </div>
  <hr />

  <div class="contents" *ngFor="let activity of items | slice: 0:6">
    <div class="content">
      <div class="buttonClose"></div>
      <div
        class="material"
        [style.background-image]="'url(' + activity.image + ')'"
      ></div>
      <div class="article">
        <div class="mainActivity">
          <p class="Username">
            <b>{{ activity.name }}</b>
          </p>
          <p class="doingSomething">{{ activity.status }}</p>
        </div>
        <p class="Comment">title</p>
        <div class="timeline">
          <span class="timeLogo material-icons">
            <i class="{{ activity.logo }}"></i>
          </span>
          <p>{{ activity.time }}</p>
        </div>
      </div>
    </div>
    <div class="btnClose">
      <button class="xClose" (click)="Close()">
        <img src="../../../assets/icon/xclose.png" width="180" alt="" />
      </button>
    </div>
  </div>
  <hr />
</div>

<div class="sidebarBottom">
  <div class="subject">
    <div class="title">
      <h1>Channels</h1>
    </div>
    <div class="feature">
      <a href=""> Browse all channels </a>
    </div>
  </div>
  <hr />

  <div class="contentsBottom">
    <div
      class="contentBottom"
      [style.background-image]="'url(' + channel.image + ')'"
      *ngFor="let channel of items | slice: 0:10"
    >
      <div class="plusLogo"></div>
      <h3>{{ channel.name }}</h3>
      <div class="addButton">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-x-square-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
          />
        </svg>
        <!-- <img src="../../../assets/icon/add.png" width="180" alt="" /> -->
        <input type="file" style="display: none" />
      </div>
    </div>
  </div>
  <hr />
</div>
