<div class="contentAllCards">
  <div class="subject" style="color:white;">
    <div class="title">
      <h1>Documents</h1>
    </div>
    <div class="feature">
      <a href=""> Browse all videos </a>
    </div>
  </div>

  <div class="cards" style="color:white;">
    <div
      class="bigCard"
      style="background-image: url(https://images.unsplash.com/photo-1551632811-561732d1e306?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aGlraW5nfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);"
    >
      <div class="fileInfo">
        <div class="fileTitle" style="color:white;">Hiking Alone</div>
        <div class="uploader">Gunung Gede</div>
      </div>

      <div class="view">128k views</div>
    </div>

    <div
      class="card1"
      style="color:white; background-image: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_1141196125_411306.jpg);"
      *ngFor="let content of dataVideo"
    >
      <div class="cardContainer">
        <div class="uploader">{{ content.name }}</div>
        <div class="view">{{ content.views }} views</div>
      </div>
    </div>

    <div class="uploadCard">
      <button class="uploadButton">
        <span class="uploadLogo" style="color:white;"
          ><i class="fa fa-upload"></i
        ></span>
        <p style="color:white;">Upload your own video</p>
        <input type="file" id="myfile" style="display: none;" name="myfile" />
      </button>
    </div>
  </div>
</div>
